.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav-item {
    font-size: 1.5rem;
    color: #e3dcdc;
}

.masthead {
    background-image: url('https://images.unsplash.com/photo-1547609434-b732edfee020?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1144&q=80');
    background-size: cover;
    height: 70vh;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.mast-subheading {
    color: #e3dcdc;
    font-size: 5rem;
    margin-top: 10rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.subheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.description {
    font-family: 'Nunito', sans-serif;
    font-size: 1.15rem;
}

.bass {
    object-fit: cover;
}


#instruments {
    background-color: #f8f9fa;

}

#benefits {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

#subscribe {
    background-color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
}

#instruments img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    background-color: #2f221e;
    color: #f8f9fa;
    transition: color 0.3s;
}

footer a:hover {
    color: white;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.disclaimer {
    color: #9c9999;
}

@media (max-width: 768px) {
    .masthead {
        height: 50vh;
    }

    .mast-subheading {
        margin-top: 2rem;
    }
}