.navbar-brand {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav-item {
    font-size: 1.5rem;
    color: #e3dcdc;
}

.masthead {
    background-image: url('../imgs/bass/masthead.avif');
    background-size: cover;
    object-position: bottom center;
    height: 70vh;
    opacity: 0.95;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.mast-subheading {
    color: #e3dcdc;
    font-size: 5rem;
    margin-top: 10rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.subheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.description {
    font-family: 'Nunito', sans-serif;
    font-size: 1.15rem;
}

.card-img-top {
    height: 95%;
}


footer {
    background-color: #2f221e;
    color: white;
    transition: color 0.3s;
}

footer a:hover {
    color: white;
}

a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.disclaimer {
    color: #9c9999;
}

#subscribe {
    background-color: #F4F4F4;
    font-family: 'Poppins', sans-serif;
}

#benefits {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    .masthead {
        height: 50vh;
    }

    .mast-subheading {
        margin-top: 2rem;
    }
}